@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}

hr {
    width: 95vw;
    margin: auto;
}

.navbar {
    margin: 10px;
}

.navbar img {
    display: block;
    width: 100px;
    height: auto;
    margin: auto;
}

h2 {
    text-align: center;
    font-weight: bold;
}

/* SECTIONS */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/* PROFILE SECTION */

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
    margin-bottom: 20px;
}

.profile-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.text-container {
    align-self: center;
    text-align: center;
}

.text-container p {
    font-weight: 600;
}

.text-container-p1 {
    text-align: center;
}

.text-container-p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

.featured {
    padding: 10px;
}

.featured img {
    border-radius: 40px;
    display: block;
    width: 60%;
    height: auto;
    margin: auto;
    margin-bottom: 80px;
}

.projects {
    display: flex;
    margin-bottom: 80px;
}

.item {
    width: 50%;
    text-align: center;
}

.projects .item img {
    border-radius: 40px;
    width: 60%;
    height: auto;
    margin-top: 10px;
}

.container {
    display: flex;
}

.subcontainer {
    margin: 20px;
}

.subcontainer p {
    margin-top: 10px;
    text-align: justify;
}